aiohttp
astropy
astroquery
backtesting
beautifulsoup4
bokeh
loguru
lxml
matplotlib
networkx
numpy
opencv-python
openpyxl
pandas
pandas_ta
pycryptodome
python-binance
python-dotenv
requests
behave
vectorbt